
<h3 class="fw-semibold">Input Binding</h3>

<div class="row">
   <div class="col">
      <h4>Input Parent</h4>
      <form [formGroup]="empForm">
         <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input formControlName="name" id="name" type="text" class="form-control" placeholder="Employee Name">
         </div>
         <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input formControlName="salary" id="salary" type="number" class="form-control" placeholder="Employee Name">
         </div>
         <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input formControlName="email" id="email" type="text" class="form-control" placeholder="Employee Name">
         </div>
         <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input formControlName="phone" id="phone" type="text" class="form-control" placeholder="Employee Name">
         </div>
         <!--         
            <div class="mb-3">
            <div class="d-flex">
               <label class="form-check-label">PartTime</label>
               <input formControlName="type" type="radio" class="form-check-input">
               <label class="form-check-label">Daily</label>
               <input formControlName="type" type="radio" class="form-check-input">
               <label class="form-check-label">Contract</label>
               <input formControlName="type" type="radio" class="form-check-input">
            </div>
         </div>-->

         <ng-container formArrayName="type">
            @for (type of employeeType; track idx; let idx = $index) {
               <label [for]="type.split(' ')[0].toLowerCase()" for="part" class="form-check-label me-2">{{ type }}</label>
               <input type="checkbox" [formControlName]="idx" [value]="type.split(' ')[0].toLowerCase()" [id]="type.split(' ')[0].toLowerCase()" class="form-check-input me-2">   
            }
         </ng-container>

         <div class="text-end">
            <button (click)="saveData()" class="btn btn-outline-dark">Submit</button>
         </div>
         
         <pre>
            {{ empForm | json}}
         </pre>
      </form>
   </div>
   <div class="col">
      <h4>Input Child</h4>
      <app-input-child [employees]="dataToSend"></app-input-child>
   </div>
</div>

