<app-card>

   <h4 class="card-title mb-3">
      <i class="bi-info-circle"></i> Information
   </h4>

   <app-form-group label="Code">
      <span class="form-control">{{ data().code }}</span>
   </app-form-group>
   <app-form-group label="Name">
      <span class="form-control">{{ data().name }}</span>
   </app-form-group>
   <app-form-group label="Basic Salary">
      <span class="form-control">{{ data().basicSalary | number }}</span>
   </app-form-group>
   <app-form-group label="Ot Per Hour">
      <span class="form-control">{{ data().otPerHour }}</span>
   </app-form-group>
</app-card>  